.page-header
  %h1
    =@user.email
    -if @user.banned
      %span.text-danger
        (заблокирован)
-if (!@current_user.banned)
  .btn-toolbar
    -if @user == @current_user || User.by_admin?(@current_user)
      =link_to  edit_user_path(@user), class: 'btn btn-primary' do
        =fa_icon 'edit'
        Редактировать
    -if User.by_admin?(@current_user)
      =link_to @user, class: 'btn btn-danger', data: {method: :delete, confirm: t('helpers.sure')} do
        =fa_icon 'trash'
        Удалить
  -if (@user != @current_user) && (User.by_admin?(@current_user))
    -if @user.banned
      = form_for @user do |f|
        = f.hidden_field :banned, :value => false
        = f.submit 'Разблокировать', class: 'btn btn-success'
    -else
      = form_for @user do |f|
        = f.hidden_field :banned, :value => true
        = f.submit 'Заблокировать', class: 'btn btn-danger'

-if @user.avatar?
  =image_tag @user.avatar.url(:medium), alt: 'avatar', class: 'img-responsive'

%dl
  %dt=User.human_attribute_name(:name)
  %dd=@user.name
  -if @user.country
    %dt=User.human_attribute_name(:country)
    %dd=link_to @user.country.name,@user.country
  -if @user.birthday
    %dt=User.human_attribute_name(:birthday)
    %dd=l(@user.birthday, format: :long)
  -if @user.info
    %dt=User.human_attribute_name(:info)
    %dd=simple_format(@user.info)
  %dt=User.human_attribute_name(:role)
  %dd=@user.role_name
